<?xml version="1.0" encoding="utf-8"?>
<settings>
  <detectopt AVRDet="1" MCUDet="0" KB90Det="0" MWActiveDet="0" I2CActiveDet="0" MWPassiveDet="1" I2CPassiveDet="1" EEPromActiveDet="0" EEPromPassiveDet="1"/>
  <locale lang="en"/>
  <options hw="ch341_black" clear="1" skipff="1" unprot="1" verify="1" chipname="MX25L6473E" SPIExpert="0" ShowLinks="1" spi_speed="1_5Mhz" InitialDir="D:\Projets\GITHUB\Clevo_BIOS\#EC Firmware\P775_751\TM\1st\eurocom\" blankcheck="1" LoadLastDev="1" SaveFhistory="1"/>
  <Windows DPI="120" Top="42" Left="574" LogH="107" Width="1106" Height="609"/>
  <ChipHistory list="MX25L6473E [3.3V],GD25Q10 [3.3V],GD25Q64x [3.3V],CT1C08 [3.3V],GD25B64C [3.3V],MX25U8033E [1.8V],W25Q80BV [3.3V],W25Q80DV [3.3V],MX25L25735E [3.3V],W25Q16FW [1.8V],W25N01GV [3.3V],F35SQA001G-WWT [3.3V]"/>
  <FileHistory file0="C:\Users\Alexis\Desktop\Bios clevo a tester\Dsanke P7xxTM1_B0724\P7xxTM1_B0724.rom" file1="C:\Users\Alexis\Desktop\Bios clevo a tester\baked P7xxTM1\P7xxTM1\BIOS\baked.b2" file2="D:\Projets\GITHUB\Clevo_BIOS\#EC Firmware\P775_751\TM\1st\eurocom\eP7xxTM1st_1.07.16" file3="C:\Users\Alexis\Desktop\BIOS normalement fonctionnel\EurocomB0727\BIOS.ROM" file4="D:\Projets\GITHUB\Clevo_BIOS\#EC Firmware\P775_751\TM\2nd\eurocom\eP7TM2nd_1.07.02" file5="D:\Projets\GITHUB\Clevo_BIOS\#EC Firmware\P775_751\TM\1st\XMG\xmgP7TM1st_1.07.16.NBC" file6="D:\Projets\GITHUB\Clevo_BIOS\Dsanke\P751_P775\TM\Dsanke P7xxTM1-0729-9900KS.rar" file7="D:\Projets\GITHUB\Clevo_BIOS\Eurocom\P751_P775\TM\B0727\BIOS.ROM" file8="C:\Users\Alexis\Desktop\EC_P7xxTM-2nd_1.07.02.bin" file9="C:\Users\Alexis\Desktop\EC\Clevo ou Prema\ALL\EC1_0716\eP7xxTM1.716"/>
</settings>
